---
---

@mixin user-select($select...) {
  -webkit-user-select: $select;    /* Chrome all / Safari all */
     -moz-user-select: $select;    /* Firefox all */
      -ms-user-select: $select;    /* IE 10+ */
       -o-user-select: $select;
          user-select: $select;
}

@import "normalize";
@import "font-awesome";
@import "fonts";
@import "highlights";
@import "primer-tooltip";
@import "style";
